
source_file = 'Video.mp4'
[crop]
# Taille en largeur et hauteur de la CropBox délimitant les sous-titres à OCR.
# Size of the crop_box [width, height]
crop_box_dimension = [844,72]
# Hauteur de la CropBox délimitant les sous-titres à OCR.
# Height of the crop_box
crop_box_height = 2
# Hauteur de la CropBox Alternative, utile pour l'OCR des indications. 
# Double le temps de traitement. Mettre à -1 pour désactiver.
# Height of the alternative crop_box, double the processing time.
# Put -1 to deactivate
crop_box_height_alt = -1
[upscale]
# Facteur de supersampling (multiplication de la résolution de la vidéo). 
# Mettre à -1 pour calculer le facteur automatiquement.
# Supersampling factor. Put -1 to have it automagically select it
supersampling_factor = -1
# EXPERIMENTAL ! Facteur Expand/Inpand. La valeur 1 est adaptée pour un Supersampling automatique (1080p). 
# Calcul typique de la valeur : ExpandRatio="RésolutionFinale"/1080.
# EXPERIMENTAL. Expand ratio. 1 is adapted for automatic supersampling (1080p)
# expand_ratio = "final_resolution/1080"
expand_ratio = 1
# Contrôle la méthode d'Upscale.
# 'sinc' (2 taps, plus rapide), 'znedi3' (plus lent) ou 'waifu2x' (beaucoup plus lent)
# Set the upscale mode
# 'sinc' (2 taps, faster), 'znedi3' (slower), 'waifu2x' (slowest)
upscale_mode = 'znedi3' 
[threshold]
# 'L' pour Luma, 'R' pour Rouge, 'B' pour Bleu ou 'G' pour Vert. Seuil à analyser.
# Threshold to analyze.
# 'L' for Luma, 'R' for Red, 'B' for Blue, 'G' for Green. 
threshold_mode = 'L'
# Seuil délimitant les sous-titres. Mettre à -1 pour chercher le seuil à l'aide de VapourSynth Editor.
# Threshold delimiting the subtitles. Set it at -1 to search with Vapoursynth Editor
threshold = -1 
# Seuil délimitant les sous-titres. Cette valeur correspond à la luminosité minimale de l'intérieur (Inline).
# Threshold delimiting the subtitles. This value matches the minimal brightness of the inline
inline_threshold = 230
# Seuil délimitant les sous-titres. Cette valeur correspond à la luminosité maximale de l'extérieur (Outline).
# Threshold delimiting the subtitles. This value matches the maximale brightness of the outline
outline_threshold = 30
# Un seuil trop bas augmente le nombre de faux positifs, un seuil trop haut ne permet pas de détecter tous les sous-titres.
# Setting this threshold too low increases de number of false positives, too high and it won't detect all of the subtitles. 
scd_threshold = 0.07
